.isometra-regular {
  font-family: "Isometra", serif;
  font-weight: 400;
  font-style: normal;
}

.niramit-regular {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chonburi-regular {
  font-family: "Chonburi", serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

li {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "Isometra", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;
}